<launch>
    <!-- Required arguments-->
    <arg name="robot_name" default="jackal"/>
    <arg name="algorithm" default="accurate"/>
    <arg name="cam_topic_name" default="/rgb"/>
    <arg name="odom_topic_name" default="/odom" />

    <!-- Terrapn Node -->
    <node name="outdoor_dwa" type="outdoor_dwa.py" pkg="terrapn" output="screen">
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="algorithm" value="$(arg algorithm)" />
        <param name="cam_topic_name" value="$(arg cam_topic_name)" />
        <param name="odom_topic_name" value="$(arg odom_topic_name)" />
    </node>
</launch>
